# name: Build and Push to Docker Hub

# on:
#   push:
#     branches:
#       # - main
#       - base-setup-without-keycloak

# jobs:
#   build-and-deploy:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Checkout code
#         uses: actions/checkout@v4

#       - name: Set up JDK 21
#         uses: actions/setup-java@v3
#         with:
#           java-version: '21'
#           distribution: 'temurin'
#           cache: maven

#       - name: Grant execute permission for mvnw
#         run: chmod +x mvnw

#       - name: Build with Maven
#         run: ./mvnw clean install -DskipTests

#       - name: Log in to Docker Hub
#         if: github.event_name != 'pull_request'
#         uses: docker/login-action@v3
#         with:
#           username: ${{ secrets.DOCKER_USERNAME }}
#           password: ${{ secrets.DOCKER_PASSWORD }}

#       - name: Set up Docker Buildx
#         uses: docker/setup-buildx-action@v3

#       - name: Build and push Docker image
#         if: github.event_name != 'pull_request'
#         uses: docker/build-push-action@v5
#         with:
#           context: .
#           file: ./Dockerfile
#           push: true
#           tags: |
#             ${{ secrets.DOCKER_USERNAME }}/sample-service:latest
#             ${{ secrets.DOCKER_USERNAME }}/sample-service:${{ github.sha }}

#       # - name: Trigger Render Deployment
#       #   if: github.ref == 'refs/heads/base-setup-without-keycloak' && github.event_name != 'pull_request'
#       #   run: |
#       #     echo "Triggering Render.com deployment..."
#       #     curl -X POST ${{ secrets.RENDER_DEPLOY_HOOK_URL }}